@model IEnumerable<EcommerceMVC.Models.Produtos>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h2 class="text-center">Lista de Produtos</h2>
    @foreach (var item in Model)
    {
        if (item != null)
        {
        <div class="col-md-4" style="padding:2%;">
            <div class="thumbnail">
                <a href="~/Home/Detalhes/@item.Codigo">
                    <div class="img-responsive">
                        <img class="img-responsive" src="@Url.Content(item.Imagem)" style="width:250px;height:300px;display:block;margin:0 auto;" />
                    </div>
                    <h4 class="text-center">@item.Nome</h4>
                </a>
                <div class="col-lg-2" style="width:50%;">
                    <h3 style="text-align:center;color:dodgerblue;margin-top:10% auto;">R$@item.Preco</h3>
                </div>
                <div class="col-lg-2" style="width:50%;">
                    @using (Html.BeginForm("AdicionarAoCarrinho", "Home", new { produtoCod = item.Codigo }, FormMethod.Post))
                    {
                        <input style="text-align:center;margin-top:10%;" type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" value="+ Carrinho" />
                    }
                </div>
            </div>
        </div>
        }
        else
        {
            <h2 class="alert alert-danger">
                Ainda não temos produtos registrados.
            </h2>
        }
    }
</div>