@model IEnumerable<EcommerceMVC.Models.Produtos>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    <h2 class="text-center">Lista de Produtos</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="padding:2%;">
            <div class="thumbnail">
                <a href="~/Home/Detalhes/@item.Codigo">
                    <div class="img-responsive">
                        <img class="img-responsive" src="@Url.Content(item.Imagem)" style="width:250px;height:300px;display:block;margin:0 auto;" />
                    </div>
                    <h4 class="text-center">@item.Nome</h4>
                </a>
                <div class="col-lg-2" style="width:50%;">
                    <h3 style="text-align:center;color:dodgerblue;margin-top:10% auto;">R$@item.Preco</h3>
                </div>
                <div class="col-lg-2" style="width:50%;">
                    @using (Html.BeginForm("AdicionarAoCarrinho", "Home", new { produtoCod = item.Codigo }, FormMethod.Post))
                    {
                        <input style="text-align:center;margin-top:10%;" type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" value="+ Carrinho" />
                    }
                </div>
            </div>
        </div>
    }
</div>